<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

			<h4>Open source projects</h4><br/>

			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.sevenotters.org/" target="_blank">SevenOtters</a></strong>
				- Seven Otters is a set of facilities (macroes, functions, modules, etc.) developed to create CQRS/ES solutions in Elixir on BEAM virtual machine.<br/>
					With Seven Otters you can easly define events, aggegates, aggregate roots, commands, projections, service, policies, and batches. Moreover Seven Otters internally implements a command bus and an events (pub/sub) bus.<br/>
			</h5>

			<h5>
				<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/nicolafiorillo/angler_blockchain/" target="_blank">The Angler Blockchain</a></strong>
				- A blockchain implementation written in Elixir.<br/>
			</h5>

			<br/><h4>Professional Products</h4><br/>

			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.play-trip.com/en/" target="_blank">Playtrip</a></strong>
				- A digital storytelling platform and mobile app that renews the way to travel.<br/>Role: CTO, solution architect, backend developer.
			</h5>

			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.mysecretary.com/" target="_blank">MySecretary</a></strong>
				- A real secretary service for mobile.<br/>Role: solution architect, backend developer.
			</h5>

			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://morbiquiz.ch" target="_blank">MorbiQuiz</a></strong>
				- Mobile app for gaming and learning about the vaccination measles (backend, web dashboard
			and app). Project developed in collaboration with <a href="http://www.usi.ch/" target="_blank">USI (Università della Svizzera Italiana)</a>.<br/>
					Role: solution architect, iOS developer, backend and dashboard developer.
			</h5>

			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.appeventme.com" target="_blank">EventMe</a></strong>
				- Switzerland events aggregator.<br/>
					Role: solution architect and app developer.
			</h5>

			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://whitepeaksmobile.ch/surveyraiser" target="_blank">Surveyraiser</a></strong>
				- Software-As-A-Service for mobile customer care (backend, web dashboard and app).<br/>
					Role: co-creator, solution architect, dashboard and backend developer, app developer.
			</h5>

			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/ch/app/appraiser/id1038047074?mt=8" target="_blank">Appraiser</a></strong>
				- Mobile app to evaluate the investment needed to develop an app. <a href="https://itunes.apple.com/ch/app/appraiser/id1038047074?mt=8" target="_blank">App Store</a> - <a href="https://play.google.com/store/apps/details?id=ch.whitepeaksmobile.playtrip" target="_blank">Google Play</a><br/>
					Role: co-creator, solution architect, backend and app developer.<br>
			</h5>

    </div>
  </div>
</div>
</section>
